/*navigation settings */
header {
    width: 100%;
}

li {
    display: inline;
    float: right;
    padding: 5px;
}

/* main styling */

h1 {
    font-family: BioRhyme, sans-serif;
}

p {
    font-family: Roboto, sans-serif;
}

body {
    background-color: white;
}